extends ../common/template

block content
    div.st-tab
        ul.st-tab-nav
        div.st-tab-panel
            ul.st-tab-thumb
            div.st-tab-content
                ul.st-article-list.st-tab-detail
