extends ../common/template

block content
    div.banner
        h1 Hello World!
        div 一个基于Webpack的多页应用脚手架
        div 配置
            a(href='http://jquery.com/')= 'jQuery'
            a(href='http://jade-lang.com/')= 'Jade模板引擎'
            a(href='http://lesscss.org/')= 'Less.js处理css'


